<a href="https://colab.research.google.com/github/Frascino/br-python-challenges/blob/master/Desafio_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Desafio 6

Crie uma função que receba duas listas e retorne uma lista que contenha apenas os elementos comuns entre as listas (sem repetição). A função deve suportar lista de tamanhos diferentes.

listas:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
 
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [2]:
# Usando set
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
def inter(lista_a,lista_b):
  inter = set(lista_a) & set(lista_b)
  inter_final = list(inter)
  return inter_final
inter(b,a)

[1, 2, 3, 5, 8, 13]

In [4]:
# Usando Data Frame
import numpy as np
import pandas as pd
a_df = pd.DataFrame({'Coluna A':a}).drop_duplicates()
b_df = pd.DataFrame({'Coluna B':b}).drop_duplicates()
#print(a_df)
#print(b_df)
#c_df = pd.merge(a_df,b_df,how = 'inner',left_on = 'Coluna A', right_on= 'Coluna B',validate = '1:1')
#c_df
a_df_u = pd.DataFrame({'Única':a}).drop_duplicates()
b_df_u = pd.DataFrame({'Única':b}).drop_duplicates()
c_df = pd.merge(a_df_u,b_df_u,how = 'inner',on='Única',validate = '1:1')
c_df

   Única
0      1
1      2
2      3
3      5
4      8
5     13