<a href="https://colab.research.google.com/github/WittmannF/br-data-science/blob/master/python/challenges/Desafio_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Desafio 10

Dada uma lista, divida-a em 3 partes iguais e reverta cada lista.

Exemplo: 

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Parte 1 [8, 45, 11]

Parte 2 [12, 14, 23]

Parte 3 [89, 45, 78]

In [11]:
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [12]:
import numpy as np

In [13]:
def chunk_reverse(lst, chunk):
    return list(map(lambda ls: list(reversed(ls)), np.array_split(lst, chunk)))

In [14]:
chunk_reverse(sampleList, 3)

[[8, 45, 11], [12, 14, 23], [89, 45, 78]]