<a href="https://colab.research.google.com/github/Frascino/br-python-challenges/blob/master/Desafio_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 5
Você trabalha em uma loja de sapatos e deve contatar uma lista de clientes dada pela seguinte lista de números de telefones:

In [1]:
numeros_telefone = [
'(765) 368-1506',
'(285) 608-2448',
'(255) 826-9050',
'(554) 994-1517',
'(285) 608-2448',
'(596) 336-5508',
'(511) 821-7870',
'(410) 665-4447',
'(821) 642-8987',
'(285) 608-2448',
'(311) 799-3883',
'(935) 875-2054',
'(464) 788-2397',
'(765) 368-1506',
'(650) 684-1437',
'(812) 816-0881',
'(285) 608-2448',
'(885) 407-1719',
'(943) 769-1061',
'(596) 336-5508',
'(765) 368-1506',
'(255) 826-9050',
]

No entanto, alguns destes números estão duplicados. Você seria capaz de remover estes duplicados para evitar que clientes sejam contatado mais de uma vez?

In [3]:
# Solução com set
lsita_sem_duplicados = set(numeros_telefone)
lsita_sem_duplicados

{'(255) 826-9050',
 '(285) 608-2448',
 '(311) 799-3883',
 '(410) 665-4447',
 '(464) 788-2397',
 '(511) 821-7870',
 '(554) 994-1517',
 '(596) 336-5508',
 '(650) 684-1437',
 '(765) 368-1506',
 '(812) 816-0881',
 '(821) 642-8987',
 '(885) 407-1719',
 '(935) 875-2054',
 '(943) 769-1061'}

In [7]:
# Solução com Data Frame
import numpy as np
import pandas as pd

df = pd.DataFrame({'numeros_telefone':numeros_telefone})
df['num'] = 1
df2 = df.groupby(['numeros_telefone'],as_index=False).agg({'num':'count'}).sort_values(['num'],ascending=False)
df3 = df2[['numeros_telefone']].reset_index(drop=True)
df3

   numeros_telefone
0    (285) 608-2448
1    (765) 368-1506
2    (255) 826-9050
3    (596) 336-5508
4    (311) 799-3883
5    (410) 665-4447
6    (464) 788-2397
7    (511) 821-7870
8    (554) 994-1517
9    (650) 684-1437
10   (812) 816-0881
11   (821) 642-8987
12   (885) 407-1719
13   (935) 875-2054
14   (943) 769-1061